<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.poem.lld.mapper.PoemMapper">
	<select id="getPoemById" parameterType="int" resultMap="poem.poemMap">
		select * from poem where id=#{id}
	</select>

	<select id="findPoemByAuthor" parameterType="java.lang.String" resultMap="poem.poemMap">
		select * from poem where author LIKE '%${value}%'
	</select>

	<insert id="insertPoem" parameterType="com.poem.lld.model.Poem">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select last_insert_rowid() from poem limit 1
		</selectKey>
		insert into poem (title, author, content, album, `type`, url, public_degree, dynasty)
		values(#{title}, #{author}, #{content}, #{album}, #{type}, #{url}, #{publicDegree}, #{dynasty})
	</insert>

	<delete id="deletePoem" parameterType="java.lang.Integer">
		delete from poem where id=#{id}
	</delete>

	<update id="updatePoem" parameterType="com.poem.lld.model.Poem">
		update poem
		set title = #{title}, author = #{author}, content = #{content}, album = #{album},
			`type` = #{type}, url = #{url}, public_degree = #{publicDegree}, dynasty = #{dynasty} 
		where id=#{id}
	</update>

</mapper>
